</br>
<style>
    .table td, .table th {
        border: none;
		text-align:center;
    }
    .table tbody tr:hover td,
    .table tbody tr:hover th {
      background-color: #DCD9CD;
    }
    
    
    .fRight{
        float:right;
    }

    .tabspacing{
        width:25%;
		text-align:center;
    }

    tbody{
        overflow:auto;  
    }
	
	td {
		text-align: center;
		vertical-align: center;
	}
	
    th.AllPlayers_SN, td.AllPlayers_SN{width:15%;}
    th.AllPlayers_Name, td.AllPlayers_Name{width:30%;}
    th.AllPlayers_Location, td.AllPlayers_Location{width:25%;}
    th.AllPlayers_RegDate, td.AllPlayers_RegDate{width:30%;}
    

    th.RegisteredPlayers_SN, td.RegisteredPlayers_SN{width:15%;}
    th.RegisteredPlayers_Name, td.RegisteredPlayers_Name{width:30%;}
    th.RegisteredPlayers_Location, td.RegisteredPlayers_Location{width:25%;}
    th.RegisteredPlayers_RegDate, td.RegisteredPlayers_RegDate{width:30%;}    
	
    th.UnlockedPlayers_SN, td.UnlockedPlayers_SN{width:10%;}
    th.UnlockedPlayers_Name, td.UnlockedPlayers_Name{width:25%;}
    th.UnlockedPlayers_Location, td.UnlockedPlayers_Location{width:15%;}
    th.UnlockedPlayers_RegDate, td.UnlockedPlayers_RegDate{width:25%;}
	th.UnlockedPlayers_UnlockedDate, td.UnlockedPlayers_UnlockedDate{width:25%;}
	
	th.SubmittedPlayers_SN, td.SubmittedPlayers_SN{width:5%;}
    th.SubmittedPlayers_Name, td.SubmittedPlayers_Name{width:15%;}
    th.SubmittedPlayers_Location, td.SubmittedPlayers_Location{width:10%;}
    th.SubmittedPlayers_RegDate, td.SubmittedPlayers_RegDate{width:15%;}
	th.SubmittedPlayers_UnlockedDate, td.SubmittedPlayers_UnlockedDate{width:15%;}
    th.SubmittedPlayers_Msg, td.SubmittedPlayers_Msg{width:40%;}


</style>


<div class ="container" id="challengeDetails">
	<div class="tabbable well"> 
		<ul class="nav nav-tabs">
			<li class="tabspacing active"><a data-target="#AllPlayers" data-toggle="tab">All Players</a></li>
			<li class="tabspacing"><a data-target="#RegisteredPlayers" data-toggle="tab">Registered Players</a></li>
			<li class="tabspacing"><a data-target="#UnlockedPlayers" data-toggle="tab">Unlocked Players</a></li>
			<li class="tabspacing"><a data-target="#SubmittedPlayers" data-toggle="tab">Submitted Players</a></li>
		</ul>
	  
		<div class="tab-content">
		<div class="tab-pane active" id="AllPlayers">	
			<div style="overflow-x:hidden">
				<table class="table table-condensed">
					<tr>
						<th class="AllPlayers_SN">S/N</th>
						<th class="AllPlayers_Name">Name</th>
						<th class="AllPlayers_Location">Location</th>						
						<th class="AllPlayers_RegDate">Registeration Date</th>
					</tr>  
				</table> 
				<table class="table table-hover" ng-init="all_players(challengeId)"; ng-init="count(0)";>
					<tr ng-repeat="player in challengePlayers" ng-repeat="count = count + 1">
						<td class="AllPlayers_SN">count</td>
						<td class="AllPlayers_Name">ng-src={{player.gravatar}} &nbsp&nbsp {{player.nickname}}</td>
						<td class="AllPlayers_Location">{{player.country}}</td>						
						<td class="AllPlayers_RegDate">25/08/2012</td>
					</tr>
				</table>
			</div>
		</div>		 
		
		<div class="tab-pane" id="RegisteredPlayers">
			<div style="overflow-x:hidden">
				<table class="table table-condensed">
					<tr>
						<th class="RegisteredPlayers_SN">S/N</th>
						<th class="RegisteredPlayers_Name">Name</th>
						<th class="RegisteredPlayers_Location">Location</th>						
						<th class="RegisteredPlayers_RegDate">Registeration Date</th>						
					</tr>  
				</table> 
				<table class="table table-hover" ng-init="registered_players(challengeId)";>
					<tr ng-repeat="regPlayer in registeredPlayers">
						<td class="RegisteredPlayers_SN">1</td>
						<td class="RegisteredPlayers_Name">ng-src={{regPlayer.gravatar}} &nbsp&nbsp {{regPlayer.nickname}}</td>
						<td class="RegisteredPlayers_Location">{{regPlayer.country}}</td>
						<td class="RegisteredPlayers_RegDate">14/03/2013</td>	
					</tr>
				</table>
			</div>
		</div>
		
		<div class="tab-pane" id="UnlockedPlayers">
			<div style="overflow-x:hidden">
				<table class="table table-condensed">
					<tr>
						<th class="UnlockedPlayers_SN">S/N</th>
						<th class="UnlockedPlayers_Name">Name</th>
						<th class="UnlockedPlayers_Location">Location</th>						
						<th class="UnlockedPlayers_RegDate">Registration Date</th>	
						<th class="UnlockedPlayers_UnlockedDate">Challenge Unlocked Date</th>
					</tr>  
				</table> 
				<table class="table table-hover" ng-init="unlocked_players(challengeId)";>
					<tr ng-repeat="unlockedPlayer in unlockedPlayers">
						<td class="UnlockedPlayers_SN">1</td>
						<td class="UnlockedPlayers_Name">ng-src={{unlockedPlayer.gravatar}} &nbsp&nbsp {{unlockedPlayer.nickname}}</td>
						<td class="UnlockedPlayers_Location">{{regPlayer.country}}</td>
						<td class="UnlockedPlayers_RegDate">22/03/2011</td>
						<td class="UnlockedPlayers_UnlockedDate">22/03/2011</td>
					</tr>
				</table>
			</div>
		</div>
		
		<div class="tab-pane" id="SubmittedPlayers">
			<div style="overflow-x:hidden">
				<table class="table table-condensed">
					<tr>
						<th class="SubmittedPlayers_SN">S/N</th>
						<th class="SubmittedPlayers_Name">Name</th>
						<th class="SubmittedPlayers_Location">Location</th>						
						<th class="SubmittedPlayers_RegDate">Registration Date</th>	
						<th class="SubmittedPlayers_UnlockedDate">Challenge Unlocked Date</th>
						<th class="SubmittedPlayers_Msg">Message</th>
					</tr>  
				</table> 
				<table class="table table-hover" ng-init="submitted_players(challengeId)";>
					<tr ng-repeat="subPlayer in submittedPlayers">
						<td class="SubmittedPlayers_SN">1</td>
						<td class="SubmittedPlayers_Name">ng-src={{subPlayer.gravatar}} &nbsp&nbsp {{subPlayer.nickname}}</td>
						<td class="SubmittedPlayers_Location">">{{regPlayer.country}}</td>
						<td class="SubmittedPlayers_RegDate">22/03/2011</td>
						<td class="SubmittedPlayers_UnlockedDate">22/03/2011</td>
						<td class="SubmittedPlayers_Msg">Hi There!</td>
					</tr>
				</table>
			</div>
		</div>
		</div>
	</div>

</div>
    




