</br>
<style>
    .table td, .table th {
        border: none;
		text-align:center;
    }
    .table tbody tr:hover td,
    .table tbody tr:hover th {
      background-color: #2E2E2E;
    }
    
    
    .fRight{
        float:right;
    }

    .tabspacing{
        width:33.333%;
		text-align:center;
    }

    tbody{
        overflow:auto;  
    }
	
	td {
		text-align: center;
		vertical-align: center;
	}
	
    th.a1, td.a1{width:20%;}
    th.a2, td.a2{width:10%;}
    th.a3, td.a3{width:25%;}
    th.a4, td.a4{width:25%;}
    

    th.r1, td.r1{width:20%;}
    th.r2, td.r2{width:10%;}
    th.r3, td.r3{width:15%;}
    th.r4, td.r4{width:15%;}
    th.r5, td.r5{width:15%;}
	th.r6, td.r6{width:25%;}
	
    th.u1, td.u1{width:20%;}
    th.u2, td.u2{width:10%;}
    th.u3, td.u3{width:15%;}
    th.u4, td.u4{width:25%;}
    th.u5, td.u5{width:15%;}
	


</style>


<div class ="container">
	<div class="tabbable well"> <!-- Only required for left/right tabs -->
	  <ul class="nav nav-tabs">
		<li class="tabspacing active"><a data-target="#tab1" data-toggle="tab">All Players</a></li>
		<li class="tabspacing"><a data-target="#tab2" data-toggle="tab">Registered Players</a></li>
		<li class="tabspacing"><a data-target="#tab3" data-toggle="tab">Unlocked Players</a></li>
	  </ul>
	  <div class="tab-content">
		<div class="tab-pane active" id="tab1">
		<!--Name,location,Invite Date,Expiry-->
			<div style="overflow-x:hidden">
				<table class="table table-condensed">
					<tr style="border-top: solid white; border-bottom: solid white;">
						<th class="a1">Name</th>
						<th class="a2">Location</th>
						<th class="a3">Invitation Sent Date</th>
						<th class="a4">Expiry Date</th>
					</tr>  
				</table> 
				<table class="table table-hover">
					<tr>
						<td class="a1">Micheal</td>
						<td class="a2">Sg</td>
						<td class="a3">14/03/2013</td>
						<td class="a4">20/03/2013</td>
					<tr>
						<td class="a1">Jennifer</td>
						<td class="a2">USA</td>
						<td class="a3">14/03/2013</td>
						<td class="a4">20/03/2013</td>
					</tr>
				</table>
			</div>
		</div>
		 
		
		<div class="tab-pane" id="tab2">
			<div style="overflow-x:hidden">
				<table class="table table-condensed">
					<tr style="border-top: solid white; border-bottom: solid white;">
						<th class="r1">Name</th>
						<th class="r2">Location</th>
						<th class="r3">Invitation Sent Date</th>
						<th class="r4">Registeration Date</th>
						<th class="r5">Expiry Date</th>
						<th class="r6">Progress</th>
					</tr>  
				</table> 
				<table class="table table-hover">
					<tr>
						<td class="r1">Micheal</td>
						<td class="r2">Sg</td>
						<td class="r3">14/03/2013</td>
						<td class="r4">14/03/2013</td>
						<td class="r5">20/03/2013</td>
						<td class="r6"> <div class="progress">
										<div class="bar" style="width: 60%;"></div>
										</div>
						</td>
						
					<tr>
						<td class="r1">Jennifer</td>
						<td class="r2">USA</td>
						<td class="r3">14/03/2013</td>
						<td class="r4">17/03/2013</td>
						<td class="r5">20/03/2013</td>
						<td class="r6"> <div class="progress">
										<div class="bar" style="width: 24%;"></div>
										</div>
						</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="tab-pane" id="tab3">
		  <div style="overflow-x:hidden">
				<table class="table table-condensed">
					<tr style="border-top: solid white; border-bottom: solid white;">
						<th class="u1">Name</th>
						<th class="u2">Location</th>
						<th class="u3">Date of Completion</th>
						<th class="u4">Message</th>
						<th class="u5">Attachment</th>
					</tr>  
				</table> 
				<table class="table table-hover">
					<tr>
						<td class="u1">Wilson</td>
						<td class="u2">Sg</td>
						<td class="u3">18/03/2013</td>
						<td class="u4">Awesome!</td>
						<td class="u5"></td>
											
					<tr>
						<td class="u1">John</td>
						<td class="u2">USA</td>
						<td class="u3">19/03/2013</td>
						<td class="u4">Can't get enough of it!</td>
						<td class="u5"></td>
						
					</tr>
				</table>
			</div>
		</div>
	  </div>
	</div>
</div>
    
<script>

</script>
