<style>
    #edit_profile {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        color: black;
    }
    .table td, .table th {
        border: none;
    }
    .table tbody tr:hover td,
    .table tbody tr:hover th {
        background-color: #DCD9CD;
    }
    
    .tabspacing{
        width:25%;
	}

    
    .tab-content {
      clear: none;
      margin-bottom:0px;
    }

    tbody{
        overflow:auto;  
    }
	
	<!--All Challenges : Open Challenge-->
	th.OpenC_Type, td.OpenC_Type							{width:20%;}
    th.OpenC_Name, td.OpenC_Name							{width:20%;}
    th.OpenC_Location, td.OpenC_Location					{width:20%;}
    th.OpenC_StartDate, td.OpenC_StartDate					{width:15%;}
    th.OpenC_EndDate, td.OpenC_EndDate						{width:15%;}
    th.OpenC_Register, td.OpenC_Register					{width:10%;}
	
	<!--All Challenges : Registered Challenge-->
    th.AcceptedC_Type, td.AcceptedC_Type					{width:20%;}
    th.AcceptedC_Name, td.AcceptedC_Name					{width:20%;}
	th.AcceptedC_Location, td.AcceptedC_Location			{width:20%;}
    th.AcceptedC_StartDate, td.AcceptedC_StartDate			{width:10%;}
    th.AcceptedC_EndDate, td.AcceptedC_EndDate				{width:10%;}
	th.AcceptedC_Status, td.AcceptedC_Status				{width:10%;}
	th.AcceptedC_Outcome, td.AcceptedC_Outcome				{width:10%;}	
	
	<!--My Creations : Challenges Others Made -->
	th.OtherC_Type, td.OtherC_Type							{width:20%;}
    th.OtherC_Name, td.OtherC_Name							{width:20%;}
	th.OtherC_Location, td.OtherC_Location					{width:20%;}
    th.OtherC_StartDate, td.OtherC_StartDate				{width:20%;}
    th.OtherC_EndDate, td.OtherC_EndDate					{width:20%;}    
	
	<!--My Creations : Challenges I've Made -->
	th.ChallengesIMade_Type, td.ChallengesIMade_Type			{width:10%;}
	th.ChallengesIMade_Name, td.ChallengesIMade_Name			{width:20%;}
	th.ChallengesIMade_Location,td.ChallengesIMade_Location		{width:20%;}
	th.ChallengesIMade_StartDate,td.ChallengesIMade_StartDate 	{width:10%;}
	th.ChallengesIMade_EndDate,td.ChallengesIMade_EndDate		{width:10%;}
	th.ChallengesIMade_Review,td.ChallengesIMade_Review			{width:10%;}
	th.ChallengesIMade_Publish,td.ChallengesIMade_Publish		{width:10%;}                                                                                         
	th.ChallengesIMade_Share,td.ChallengesIMade_Share			{width:10%;}
	
   
 
</style>
<br>

<div class="container" style="position:relative;">
    
    <div class="row-fluid">
        <div class="span12" ng-controller="ChallengeController">
            
			<div class="tabbable well" align="center">				
				<!--Top Tabs : All Challenges & My Creations-->
				<ul class="nav nav-tabs">
					<li class="tabspacing active">
					  <a data-target="#Open" data-toggle="tab">Open Challenges</a>
					</li>
					<li class="tabspacing">
					  <a data-target="#Accepted" data-toggle="tab">Accepted Challenges</a>
					</li> 
					<li class="tabspacing">
					  <a data-target="#Other" data-toggle="tab">Challenges Other's Created</a>
					</li> 
					<li class="tabspacing">
					  <a data-target="#Mine" data-toggle="tab">Challenges I've Made</a>
					</li> 
					
				</ul>
				<div class="tab-content" id="top-content">				
					
					<div class="tab-pane active" align="center" id="Open">
						<div width="400px"style=" width:98.2%; height:30px;">
							<table class="table table-condensed">
									<tr>
										<th class="OpenC_Type">Type</th>
										<th class="OpenC_Name">Name</th>
										<th class="OpenC_Location">Location</th>										
										<th class="OpenC_StartDate">Start Date</th>
										<th class="OpenC_EndDate">End Date</th>
										<th class="OpenC_Register">Register</th>

									</tr>                                   
							</table> 
						</div>
						<div style="width:99.8%; height:270px;overflow-y:auto;overflow-x:hidden">									
							<table class="table table-hover" ng-init="list_challenges();">														
								<tr ng-repeat="challenge in ListAllChallenges">
									<td class="OpenC_Type">Quest</th>
									<td class="OpenC_Name">{{challenge.name}}</td>
									<td class="OpenC_Location" ng-show="challenge.worldwide==1">Worldwide</td>	
									<td class="OpenC_Location" ng-show="challenge.worldwide==0"><image ng-src="{{challenge.allowedCountries[0]}}"; width = 30px; height= 30px;/></td>									
									<td class="OpenC_StartDate">{{challenge.startDate}}</td>
									<td class="OpenC_EndDate">{{challenge.endDate}}</td>
									<td class="OpenC_Register" ng-show="challenge._playerRegistered==false" ><button class="btn btn-primary" style="width: 100px" ng-click="goToRegistration(challenge.challenge_id)"> To register</button></td>
									<td class="OpenC_Register" ng-show="challenge._playerRegistered==true"><button class="btn btn-inverse" style="width: 100px" ng-click="goToRegistration(challenge.challenge_id)">Registered</button></td>

								</tr>           
							</table>																	
						</div>
					</div>
					
					<div class="tab-pane" align="center" id="Accepted">
						<div width="400px"style=" width:98.2%; height:30px;">
							<table class="table table-condensed">
									<tr>
										<th class="AcceptedC_Type">Type</th>
										<th class="AcceptedC_Name">Name</th>
										<th class="AcceptedC_Location">Location</th>
										<th class="AcceptedC_StartDate">StartDate</th>
										<th class="AcceptedC_EndDate">EndDate</th>
										<th class="AcceptedC_Status">Status</th>
										<th class="AcceptedC_Outcome">Outcome</th>

									</tr>                                   
							</table> 
						</div>
						<div  style="width:99.8%; height:270px;overflow-y:auto;overflow-x:hidden" >
								<table class="table table-hover" ng-init="registered_challenges()">
									<tr ng-repeat="Acceptedchallenge in playerRegisteredChallenges">
										<td class="AcceptedC_Type">quest</td>
										<td class="AcceptedC_Name">{{Acceptedchallenge.name}}</td>	
										<td class="AcceptedC_Location" ng-show="Acceptedchallenge.worldwide==1">Worldwide</td>	
										<td class="AcceptedC_Location" ng-show="Acceptedchallenge.worldwide==0"><image ng-src="{{Acceptedchallenge.allowedCountries[0]}}"; width = 30px; height= 30px;/></td>									
										<td class="AcceptedC_StartDate">{{Acceptedchallenge.startDate}}</td>
										<td class="AcceptedC_EndDate">{{Acceptedchallenge.endDate}}</td>
										<td class="AcceptedC_Status"><span class="label label-success">Open</span></td>
										<td class="AcceptedC_Outcome" ng-show ="Acceptedchallenge._playerUnlocked"><input type="image" ng-src="img/challenge/privateButtonUnlocked_on.png"/></td>
										<td class="AcceptedC_Outcome" ng-hide ="Acceptedchallenge._playerUnlocked"><input type="image" ng-src="img/challenge/privateButtonLocked_on.png"/></td>
									</tr>  
								</table>
						</div>
					</div>
					
					<div class="tab-pane" align="center" id="Other">
						<div width="400px"style=" width:98.2%; height:30px;">
							<table class="table table-condensed" >
								<tr>
									<th class="OtherC_Type">Type</th>
									<th class="OtherC_Name">Name</th>
									<th class="OtherC_Location">Location</th>
									<th class="OtherC_StartDate">Start Date</th>
									<th class="OtherC_EndDate">End Date</th>
									
								</tr>                                   
							</table> 
						</div>
						<div align="center" style="width:99.8%; height:270px;overflow-y:auto;overflow-x:hidden" >								
							<table class="table table-hover" ng-init="others_challenges();">
								<tr ng-repeat="otherChallenge in playerOtherChallenges">
									<td class="OtherC_Type">{{otherChallenge.name}}</td>
									<td class="OtherC_Name">{{otherChallenge.name}}</td>
									<td class="OtherC_Location" ng-show="otherChallenge.worldwide==1">Worldwide</td>	
									<td class="OtherC_Location" ng-show="otherChallenge.worldwide==0"><image ng-src="{{otherChallenge.allowedCountries[0]}}"; width = 30px; height= 30px;/></td>									
									<td class="OtherC_StartDate">{{otherChallenge.startDate}}</td>
									<td class="OtherC_EndDate">{{otherChallenge.endDate}}</td>                                                                                            
								</tr>                                                          
							</table>								
						</div>							
					</div>
					
					<div class="tab-pane" align="center" id="Mine">
						<div width="400px"style="height:30px;">
							<table class="table table-condensed" >
								<tr>
									<th class="ChallengesIMade_Type">Type</th>
									<th class="ChallengesIMade_Name">Name</th>
									<th class="ChallengesIMade_Location">Location</th> 
									<th class="ChallengesIMade_StartDate">Start Date</th>
									<th class="ChallengesIMade_EndDate">End Date</th>
									<th class="ChallengesIMade_Review">Review</th>
									<th class="ChallengesIMade_Publish">Publish</th>                                                                                              
									<th class="ChallengesIMade_Share">Share</th>
								</tr>                                   
							</table> 
						</div>
					 
						<div style="height:270px;overflow-y:auto;overflow-x:hidden" >																					
							<table class="table table-condensed"  ng-init="list_challenges_I_created(); get_badge();">
								<tr ng-repeat="myChallenge in ListMyChallenges">
									<td class="ChallengesIMade_Type">Quest</td>
									<td class="ChallengesIMade_Name">{{myChallenge.name}}</td>
									<td class="ChallengesIMade_Location" ng-show="myChallenge.worldwide==1">Worldwide</td>	
									<td class="ChallengesIMade_Location" ng-show="myChallenge.worldwide==0"><image ng-src="{{myChallenge.allowedCountries[0]}}"; width = 30px; height= 30px;/></td>									
									<td class="ChallengesIMade_StartDate">{{myChallenge.startDate}}</td>
									<td class="ChallengesIMade_EndDate">{{myChallenge.endDate}}</td>
									<td class="ChallengesIMade_Review">
										<div class="btn-group">																			
											<button class="btn btn-warning" a data-target="#statsModal" role="button" data-toggle="modal">Stats</button>
											<button class="btn btn-danger" a data-target="#tab2create">Edit</button>
										</div>																	
									</td>
									<td  class="ChallengesIMade_Publish">Published</td>
									<td  class="ChallengesIMade_Share">Shared</td>                                                                                     
								</tr>                                                                
							</table>							  
						</div>
						<!--Create button-->
						<div align="right"  ng-controller="ChallengeController">
							<button type="button" class="btn btn-primary" style="height: 33px; width: 100px" ng-click="goToStory()">Create</button>
						</div>
					</div>
					
			  
			 
				
			   
				</div>
			</div>

        </div>
    </div>
</div>
