<style>
    #edit_profile {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        color: black;
    }
    .table td, .table th {
        border: none;
    }
    .table tbody tr:hover td,
    .table tbody tr:hover th {
        background-color: #2E2E2E;
    }
    
    .tabspacing{
        width:50%;
	}

    .tabspacing-inner{
        width:50%;
    }

    .tab-content {
      clear: none;
      margin-bottom:0px;
    }

    tbody{
        overflow:auto;  
    }

    th.c1, td.c1{width:20%;}
    th.c2, td.c2{width:20%;}
    th.c3, td.c3{width:40%;}
    th.c4, td.c4{width:20%;}
  

    th.d1, td.d1{width:40%;}
    th.d2, td.d2{width:10%;}
    th.d3, td.d3{width:10%;}
    th.d4, td.d4{width:20%;}
    th.d5, td.d5{width:20%;}

    th.i1, td.i1{width:20%;}
    th.i2, td.i2{width:20%;}
    th.i3, td.i3{width:40%;}
    th.i4, td.i4{width:20%;}
	
	<!--All Challenges : Open Challenge-->
    th.OpenC_Name, td.OpenC_Name{width:25%;}
    th.OpenC_Location, td.OpenC_Location{width:10%;}
    th.OpenC_Needed, td.OpenC_Needed{width:25%;}
    th.OpenC_StartDate, td.OpenC_StartDate{width:15%;}
    th.OpenC_EndDate, td.OpenC_EndDate{width:15%;}
    th.OpenC_Register, td.OpenC_Register{width:10%;}
	
	<!--My Creations : Challenges I've Made -->
    th.ChallengesI'veMade_Name, td.ChallengesI'veMade_Name{width:20%; }
    th.ChallengesI'veMade_Location, td.ChallengesI'veMade_Location{width:20%;}
    th.ChallengesI'veMade_StartDate, td.ChallengesI'veMade_StartDate{width:10%;}
    th.ChallengesI'veMade_EndDate, td.ChallengesI'veMade_EndDate{width:10%;}
    th.ChallengesI'veMade_Review, td.ChallengesI'veMade_Review{width:20%;}
    th.ChallengesI'veMade_Publish, td.ChallengesI'veMade_Publish{width:10%;}
    th.ChallengesI'veMade_Share, td.ChallengesI'veMade_Share{width:10%;}
 
	th.nc1, td.nc1{width:20%;}
    th.nc2, td.nc2{width:10%;}
    th.nc3, td.nc3{width:10%;}
    th.nc4, td.nc4{width:15%;}
    th.nc5, td.nc5{width:15%;}
    th.nc6, td.nc6{width:15%;}
    th.nc7, td.nc7{width:15%;}


</style>

<div class="container" id="largeProfile" style="position:relative;">
    <!-- Three columns of text below the carousel -->
    <div class="row-fluid">
        <div class="span12" ng-controller="QuestController">
            <div class="span12" ng-controller="ChallengeController">
                <br>
                <br>
                
                <div class="tabbable well" align="center">				
					<!--Top Tabs : All Challenges & My Creations-->
                  <ul class="nav nav-tabs">
                    <li class="tabspacing active">
                      <a data-target="#t1" data-toggle="tab">All Challenges</a>
                    </li>
                    <li class="tabspacing">
                      <a data-target="#t2" data-toggle="tab">My Creation (Challenges) </a>
                    </li>  
                  </ul>
                  <div class="tab-content" id="top-content">
                    <div class="tab-pane active" id="t1" ng-controller="QuestController">
						<!--All Challenges Heading : Accepted C & Open C-->
                        <ul class="nav nav-tabs">
                            <li class="tabspacing-inner active">
                              <a data-target="#AcceptedChallenges" data-toggle="tab">Accepted Challenges</a>
                            </li>
                            <li class="tabspacing-inner">
                              <a data-target="#OpenChallenges" data-toggle="tab"> Open Challenges</a>
                            </li> 
                        </ul>
                        <div class="tab-content well" id="inner-content">						
							<!--All Challenges : Accepted Challenge-->
                            <div class="tab-pane active" id="AcceptedChallenges">
                              <div class="tab-pane" id="tt1" ng-controller="ChallengeController">
                                    <div width="400px"style=" width:98.2%; height:30px;">
                                        <table class="table table-condensed">
                                                <tr>
                                                    <th class="i1">Type</th>
                                                    <th class="i2">Name</th>
                                                    <th class="i3">Progress</th>
                                                    <th class="i4">Outcome</th>

                                                </tr>                                   
                                        </table> 
                                    </div>
                                    <div align="center" style="width:99.8%; height:270px;overflow-y:auto;overflow-x:hidden" >
                                                <div>
                                                    <div>
                                                            <table class="table table-hover">
                                                                    <tr>
                                                                        <td class="i1">Quest Challenge</td>
                                                                        <td class="i2"> Spy the Sky</td>
                                                                        <td class="i3">
                                                                            <div class="progress progress-striped active">
                                                                                <div class="bar" style="width: 40%;"></div>
                                                                            </div>
                                                                        </td>
                                                                        <td class="i4"><input type="image" ng-src="img/challenge/privateButtonLocked_on.png"/></td>                       
                                                                    </tr>
                                                                    <tr>
                                                                        <td class="i1">Quest Challenge</td>
                                                                        <td class="i2"> Break the ceiling without wailing</td>
                                                                        <td class="i3">
                                                                            <div class="progress progress-striped active">
                                                                                <div class="bar" style="width: 30%;"></div>
                                                                            </div>
                                                                        </td>
                                                                        <td class="i4"><input type="image" ng-src="img/challenge/privateButtonLocked_on.png"/></td>                       
                                                                    </tr>

                                                                    <tr>
                                                                        <td class="i1">Badge Challenge</td>
                                                                        <td class="i2"> Chase Me if You Can!</td>
                                                                        <td class="i3">
                                                                            <div class="progress progress-striped active">
                                                                                <div class="bar" style="width: 100%;"></div>
                                                                            </div>
                                                                        </td>
                                                                        <td class="i4"><input type="image" ng-src="img/challenge/privateButtonUnlocked_on.png"/></td>                       
                                                                    </tr>
                                                                   
                                                                         
                                                            </table>
                                                    </div>
                                                </div>
                                    </div>
                              </div>
                            </div>
							<!--All Challenges : Open Challenge-->
                            <div class="tab-pane" id="OpenChallenges">
                                    <div align="center"width="400px"style=" width:98.2%; height:30px;">
                                        <table class="table table-condensed">
                                                <tr>
                                                    <th class="OpenC_Name">Name</th>
                                                    <th class="OpenC_Location">Location</th>
                                                    <th class="OpenC_Needed">Needed</th>
                                                    <th class="OpenC_StartDate">Start Date</th>
                                                    <th class="OpenC_EndDate">End Date</th>
                                                    <th class="OpenC_Register">Register</th>

                                                </tr>                                   
                                        </table> 
                                    </div>
                                    <div align="center" style="width:99.8%; height:270px;overflow-y:auto;overflow-x:hidden" ng-init="list_challenges();">									
										<table class="table table-hover">														
											<tr ng-repeat="challenge in ListAllChallenges.challenges">
												<td class="OpenC_Name">{{challenge.name}}</td>
												<td class="OpenC_Location">{{challenge.allowedCountries}}</td>
												<td class="OpenC_Needed">{{challenge.unlockRequiredBadges}}</td>
												<td class="OpenC_StartDate">{{challenge.startDate}}</td>
												<td class="OpenC_EndDate">{{challenge.endDate}}</td>
												<td class="OpenC_Register"><button class="btn btn-primary" ng-click="goToRegistration()">Register</button></td>

											</tr>           
										</table>
																			
                                    </div>
                                                                  
                            </div>
                            
                        </div>
                    </div>
					<!--My Creations Heading : Challenges I've Made & Challenges others Made -->
                    <div class="tab-pane" id="t2" ng-controller="QuestController">
                        <ul class="nav nav-tabs">
							
                            <li class="tabspacing-inner active">
                              <a data-target="#ChallengesIveMade" data-toggle="tab">Challenges I've Made</a>
                            </li>
                            <li class="tabspacing-inner">
                              <a data-target="#ChallengesOthersMade" data-toggle="tab">Challenges others Made</a>
                            </li> 
							
                        </ul>
                        <div class="tab-content well"  ng-controller="PlayerController">
							<!--My Creations : Challenges I've Made -->
                            <div class="tab-pane active" id="ChallengesIveMade">
                                <div width="400px"style="height:30px;">
                                    <table class="table table-condensed" style="border-style:solid; border-color:red;">
                                            <tr>
                                                <th style="border-style:solid; border-color:blue;" class="ChallengesI'veMade_Name">Name</th>
                                                <th style="border-style:solid; border-color:blue;" class="ChallengesI'veMade_Location">Location</th> 
                                                <th style="border-style:solid; border-color:blue;" class="ChallengesI'veMade_StartDate">Start Date</th>
                                                <th style="border-style:solid; border-color:blue;"class="ChallengesI'veMade_EndDate">End Date</th>
												<th style="border-style:solid; border-color:blue;"class="ChallengesI'veMade_Review">Review</th>
                                                <th style="border-style:solid; border-color:blue;"class="ChallengesI'veMade_Publish">Publish</th>                                                                                              
												<th style="border-style:solid; border-color:blue;"class="ChallengesI'veMade_Share">Share</th>
                                            </tr>                                   
                                    </table> 
								</div>
                             
                                <div style="height:270px;overflow-y:auto;overflow-x:hidden" >
                                                                                        
									<table class="table table-condensed" style="border-style:solid; border-color:blue;" ng-init="list_challenges_I_created()">
											<tr ng-repeat="myChallenge in ListChallengesICreated.challenges">
												<td style="border-style:solid; border-color:blue;" class="ChallengesI'veMade_Name">{{myChallenge.name}}</td>
												<td style="border-style:solid; border-color:blue;" class="ChallengesI'veMade_Location">{{myChallenge.allowedCountries}}</td>
												<td style="border-style:solid; border-color:blue;" class="ChallengesI'veMade_StartDate">{{myChallenge.startDate}}</td>
												<td style="border-style:solid; border-color:blue;" class="ChallengesI'veMade_EndDate">{{myChallenge.endDate}}</td>
												<td  style="border-style:solid; border-color:blue;"class="ChallengesI'veMade_Review">
													<div class="btn-group">																			
														<button class="btn btn-warning" a data-target="#statsModal" role="button" data-toggle="modal">Stats</button>
														<button class="btn btn-danger" a data-target="#tab2create">Edit</button>
													</div>																	
												</td>
												<td  style="border-style:solid; border-color:blue;"class="ChallengesI'veMade_Publish"></td>
												<td  style="border-style:solid; border-color:blue;"class="ChallengesI'veMade_Share"></td>                                                                                     
											</tr>                                                                
									</table>
                                  
                                </div>
								<!--Create button-->
                                <div align="right"  ng-controller="ChallengeController">
                                    <button type="button" class="btn btn-primary" style="height: 33px; width: 100px" ng-click="goToStory()">Create</button>
                                </div>

                            </div>
                            <!--My Creations : Challenges others Made -->
							<div class="tab-pane" id="ChallengesOthersMade">
                                <div width="400px"style=" width:98.2%; height:30px;">
                                    <table class="table table-condensed">
                                            <tr>
                                                <th class="nc1">Name</th>
                                                <th class="nc2">Location</th>
                                                <th class="nc3">Needed</th>
                                                <th class="nc4">Start Date</th>
                                                <th class="nc5">End Date</th>
                                                <th class="nc6">Edit</th>
                                                <th class="nc7">Stats</th>

                                            </tr>                                   
                                    </table> 
                                </div>
                                <div align="center" style="width:99.8%; height:270px;overflow-y:auto;overflow-x:hidden" >
                                            <div>
                                                <div>
                                                        <table class="table table-hover">
                                                                <tr>
                                                                    <td class="nc1">Testing it!</td>
                                                                    <td class="nc2"><input type="image" ng-src="img/challenge/sg_on.png" /></td>
                                                                    <td class="nc3"><input type="image" ng-src="img/challenge/p007_on.png"/></td>
                                                                    <td class="nc4">2013/05/05</td>
                                                                    <td class="nc5">2013/07/07</td>
                                                                    <td class="nc6"> <input type="image" ng-src="img/challenge/editCircle_on.png" /></td>
                                                                    <td class="nc7"><input type="image" ng-src="img/challenge/statistics_on.png" /></td>                          
                                                                </tr>
                                                                <tr>
                                                                    <td class="nc1">Improve without sweat!</td>
                                                                    <td class="nc2"><input type="image" ng-src="img/challenge/sg_on.png" /></td>
                                                                    <td class="nc3"><input type="image" ng-src="img/challenge/a008_on.png"/></td>
                                                                    <td class="nc4">2013/06/06</td>
                                                                    <td class="nc5">2013/06/25</td>
                                                                    <td class="nc6"> <input type="image" ng-src="img/challenge/editCircle_on.png" /></td>
                                                                    <td class="nc7"><input type="image" ng-src="img/challenge/statistics_on.png" /></td>                          
                                                                </tr>
                                                                <tr>
                                                                    <td class="nc1">Let's celebrate the summer</td>
                                                                    <td class="nc2"><input type="image" ng-src="img/challenge/sg_on.png" /></td>
                                                                    <td class="nc3"><input type="image" ng-src="img/challenge/js001_on.png"/></td>
                                                                    <td class="nc4">2013/03/23</td>
                                                                    <td class="nc5">2013/06/18</td>
                                                                    <td class="nc6"> <input type="image" ng-src="img/challenge/editCircle_on.png" /></td>
                                                                    <td class="nc7"><input type="image" ng-src="img/challenge/statistics_on.png" /></td>                          
                                                                </tr>
                                                                     
                                                        </table>
                                                </div>
                                            </div>
                                </div>
                                <div align="right">
                                        <button type="button" class="btn btn-primary" style="height: 33px; width: 100px" ng-click="goToStory()">Create</button>
                                </div>

                            </div>
                        </div>
                    </div>
                  
                   
                  </div>
                </div>

            </div>
          
          
        </div>
    </div>
</div>
<br>
<br>
<div class="container" id="smallProfile" style="position:relative;">
</div>