</br>

<div class="container" id="feedback" style="position:relative;" ng-controller = "FeedbackController">
  <div ng-show="!feedback_sent">
	<div class="row-fluid">		
		<div class="span12 well well-small">			
			<p>Hi Agent {{player.nickname}}! <br>
			Would you like to give us a feedback? <br>
			Simply fill the options below & click 'Send it to us!'.<br> 
			If you would like to send any attachments (like a screenshot or something) kindly email us <font color=blue><a href="mailto:pivotalexpert@gmail.com">pivotalexpert@gmail.com</a></font>.
			<br>&nbsp &nbsp &nbsp &nbsp Thank you! </p>
		</div>
	</div>


	<div class="row-fluid">
	
		<div class="span12">
		<!--
			<div class="span1"></div>
			<div class="span2">
					<p>Would like to give </p>
			</div>
			<div class="span9">
			
			Commenting out while being debugged. 
				<div class="btn-group" data-toggle="buttons-radio" ng-model="type">
					<button type="button" class="btn btn-primary" value="Idea">Idea</button>
					<button type="button" class="btn btn-primary" value="Question">Question</button>
					<button type="button" class="btn btn-primary" value="Problem">Problem</button>
					<button type="button" class="btn btn-primary" value="Praise">Praise</button>				
				</div>	
					
			</div>
			-->	
			<br>
			<br>
			<br>
		
		</div>
	</div>
	
	<div class="row-fluid">	
		<div class="span12">
			<div class="span1"></div>
			<div class="span2">
					<p>Title </p>
			</div>
			<div class="span9 input-prepend">
				<input class="span8" type="text" ng-model="title"></input>	
			</div>
		</div>
		
	</div>
	
	<div class="row-fluid">
		<div class="span12">
			<div class="span1"></div>
			<div class="span2">
					<p>Comment</p>												
			</div>
			<div class="span9">
				 <textarea class="span8" rows="3" ng-model="description"></textarea>
			</div>				
		</div>
	</div>
	
	<br>
	<br>
	
	
	<div class="row-fluid">
	

		<div class="span12">
			<div class="span8"></div>
		
			<button class="btn btn-primary" type="button" ng-click="create_feedback(title,description,type)">Send it to us!</button>
		</div>
	</div>
  </div>
  <div ng-show="feedback_sent">
  	<h1>Thank you</h1>
  </div>

<div>