    <style>
      #hot{
        color:black;

      }
    </style>


    <div id="myCarousel" class="carousel slide">      
      <div class="carousel-inner">       
        <div class="item active">          
          <div class="container">      
            <!-- START THE FEATURETTES -->                    
            <br>
            <br>                  
            <!-- /END THE FEATURETTES -->                    
            <div>                                           
              <p>                     
                <div class="row">                      
                  <div class="span7" align = "center">
                    <br>
                    <iframe class="thumbnail" width="600" height="320" src="http://www.youtube.com/embed/ADjIt6ZbqKU" frameborder="0" allowfullscreen id="homevideo">
                    </iframe>
                  </div>                      
                  <div class="span5">                                            
                    <div><h3>What is Singpath?</h3>                                      
                      <hr>                                    
                    </div>                                    
                    <p style="font-family:Sans-Serif"><h6>SingPath is the most FUN way to practice software languages! yeah                           SingPath provides a platform to those that want to test their                           programming skills in a competitive and fun environment.                           There is a range of programming languages that you can test                           your skills with including Python, JavaScript, Ruby,                           Objective C and Java with many other languages to come.                           Specialize in one language or show your flexibility and skill                           by coding in multiple languages.What are you waiting for?                           Sign in today and follow your chosen Path!                                     
                    </h6></p>                                                     
                    <div align="right" ng-controller="PlayerController">                          
				  <a ng-show="player.nickname" class="btn btn-primary" href="#quests">Gotta try a Quest!</a>
                  <a ng-show="!player.nickname" class="btn btn-primary" type="button" data-target="#loginAlert" data-toggle="modal">Gotta try a Quest!</a>
					</div>                          
                  </div>                         
                </div>                      
                <hr>                                                                                             
                <div id="largeComment" class="row">                      
                  <div class="span4">                        <h4>Tony, Singapore</h4>                        
                    <p color = "white">Today I took my class to the computer lab to practice programming. For about 50 minutes they practiced has hard as they could, but then at 9am another teacher was scheduled to come in. I told them they had 4 more minutes and it was as if they hit another gear.Each time a student gained an Level badge the class started cheering and clapping and propelled us to our goal.The power of SingPath at its best.
                    </p>                                             
                  </div>
                  <!-- /.span4 -->                      
                  <div class="span4">                        <h4>Dravid, Singapore</h4>                        
                    <p>Your website is amazing! Im only in 7th grade and now I know how to program because of you guys. I've also shown more intellectual skill in my classes that I've been accepted into Principal's Honor Roll with a 99.8 average!!! Thank you SingPath! I don't know what I would do without you :) 
                    </p>                                           
                  </div>
                  <!-- /.span4 -->                      
                  <div class="span4">                        <h4>Dave, Singapore</h4>                        
                    <p>I began to grasp the purpose and point in what I was doing and being able to carry the knowledge through the proceeding chapters. Being able to go back to the basics, have everything explained thoroughly, and being able to pause, or rewind the extensive collection of instructional videos (if needed) has been such an extreme help!
                    </p>                                            
                  </div>
                  <div class="pull-right"> <button class="btn btn-info"> View All feedbacks </button> </div>
                  <!-- /.span4 -->                    
                </div>
                  <hr> 
                <div align="center">                      
                  <input class ="abc" align="center" type="image" src="img/planguage.png" name="image" width="1000" height="55">                  
                </div> 
                <!-- /.row -->                  
            </div>                  
            <div id = "mediumComment" class = "tabbable">                      
              <ul id="myTab" class="nav nav-tabs">                        
                <li class="active">
                <a data-target="#home" data-toggle="tab">Tony, Singapore</a>
                </li>                        
                <li>
                <a data-target="#profile" data-toggle="tab">Dravid, Singapore</a>
                </li>                        
                <li>
                <a data-target="#messages" data-toggle="tab">Dave, Singapore</a>
                </li>                      
              </ul>                      
              <div class="tab-content" style="font-family:verdana">                        
                <div class="tab-pane fade in active" id="home">
                  <p>Today I took my class to the computer lab to practice programming. For about 50 minutes they practiced has hard as they could, but then at 9am another teacher was scheduled to come in. I told them they had 4 more minutes and it was as if they hit another gear.Each time a student gained an Level badge the class started cheering and clapping and propelled us to our goal.The power of SingPath at its best. 
                  </p>
                </div>                        
                <div class="tab-pane fade in " id="profile">
                  <p> Your website is amazing! Im only in 7th grade and now I know how to program because of you guys. I've also shown more intellectual skill in my classes that I've been accepted into Principal's Honor Roll with a 99.8 average!!! Thank you SingPath! I don't know what I would do without you :) 
                  </p>                        
                </div>                          
                <div class="tab-pane fade in " id="messages">
                  <p> I began to grasp the purpose and point in what I was doing and being able to carry the knowledge through the proceeding chapters. Being able to go back to the basics, have everything explained thoroughly, and being able to pause, or rewind the extensive collection of instructional videos (if needed) has been such an extreme help!
                  </p>                        
                </div>                      
              </div>
        <div class="pull-right"> <button class="btn"> View All feedbacks </button> </div>       
            </div>
          </div>        
        </div>        
        <div class="item">          
          <div class="container">            
            <div class="carousel-caption">              <h1>One more for good measure.</h1>              
              <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
              </p>              
              <a class="btn btn-large btn-primary" href="#">Browse gallery</a>            
            </div>          
          </div>        
        </div>      
      </div>      
 
    </div>
