<style>
    #edit_profile {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        color: black;
    }
    .table td, .table th {
        border: none;
    }
    .table tbody tr:hover td,
    .table tbody tr:hover th {
        background-color: #2E2E2E;
    }
    
    .badgeheight {
        height:200px
    }
    .fRight{
        float:right;
    }

    .tabspacing{
        width:50%;
    }

    .tabspacing-inner{
        width:33.33333%;
    }

    #challengeHeading{
        font-size:14pt;
        font-family:times new roman;
        font-weight:bold;
        color:#23238e;
    }

    #msgBody{
        font-size:14pt;
        font-family:times new roman;
        font-weight:bold;
        color:#FFFFFF;
    }
    .tab-content {
      clear: none;
      margin-bottom:0px;
    }

    tbody{
        overflow:auto;  
    }



</style>
<br>
<div class="container" id="largeProfile" style="position:relative;">
    <!-- Three columns of text below the carousel -->
    <div class="row-fluid">
        <div class="span12">
            <div class="well" align="center">
                <h4>You haven't registered for this challenge. Please click below to register!</h4>
            </div>
            <div align="center">
                <button type="button" class="btn btn-primary" style="height: 33px; width: 250px">Register Me!</button>
            </div>
            <br>
            <div class="span12">
                <div class="span8 well">
                    <div id="challengeHeading" align="left"> Challenge Details</div>
                    <br>
                    <div>
                        Name:   TestingChallenge1
                        <br>
                        <br>
                        Description:
                        Let's celebrate our semester ending by overcoming Python Level 5
                        <br>
                        <br>
                        Public Message from the Challenge Creator to you:
                        Play quest named, The spy who coded with Java Path and level Medium
                        <br>
                        <br>
                        Earn the following Badges To Unlock This Challenge:
                        <br>
                        <br>
                        <br>
                        Complete the following Trials To Unlock This Challenge:

                    </div>
                </div>
                <div class="span3 well" align="center">
                    <div id="msgBody" align="left"> Private Message</div>
                    <br>
                    <br>
                    <input type="image" ng-src="img/challenge/privateButtonLocked_on.png"/>

                </div>
                
            </div>

          
        </div><!--End of .span12-->
    </div><!-- /.row -->
</div><!-- End of container which contains 'largeProfile' -->
<br>
<br>
<div class="container" id="smallProfile" style="position:relative;">
    
</div><!-- End of container which contains 'smallProfile' -->
