</br>
</br>
<div ng-controller="SchoolController" ng-init="get_school_registrations();get_schools();" class="container" id="registration" style="position:relative;">
	
	<div class="row-fluid">

        <b>Total Registrations</b>: {{total_registrations}}<br>
        <br>
        <b>Registrations by schooltype</b>:
        <table>
            <tr ng-repeat="(key, value) in registrations_by_schooltype track by $index">
                <td>{{key}}</td>
                <td>{{value}}</td>
            </tr>
        </table>
        <br>

        <b>Registrations by JC or Poly</b>:
        <table>
            <tr ng-show="key=='JC' || key=='Poly'" ng-repeat="(key, value) in registrations_by_subtype track by $index">
                <td>{{key}}</td>
                <td>{{value}}</td>
            </tr>
        </table>
        <br>

        <b>Registrations by school</b>:
        <table>
            <tr ng-repeat="(key, value) in registrations_by_school track by $index">
                <!--<td>{{key}}</td>-->
                <td>{{school_lookup[key].name}}</td>
                <td>{{value}}</td>
            </tr>
        </table>


	</div>
<div>
