<p><p>
<style>

.radio{
    text-align: center;	
}

#gradient1{  
	#gradient > .vertical(@black, @white);  
}

#radButton{
	display:inline;
}

#pathImg label {
	display: inline-block;
	cursor: pointer;
}

#paths {
    display: inline-block;
    cursor: pointer;
}

#pathImg{
	width:100px;
	height:100px;
}

#pathImgSmall{
	width:70px;
	height:70px;

}

.selected {
    background-color: #C0C0C0;
}

#paths input {
    display: inline-block;
    cursor: pointer;
}

input:hover{
	background-color: 	#C0C0C0;
}

#paths input img {

    padding: 3px;
    
}

<!--small-->

#pathImgSmall{
	width:50px;
	height:50px;
}


#smallDifficulty{
	height: 30px;
	width: 100px;
	border-radius: 3px;
}

#largeDifficulty{
	height: 40px;
	width: 170px;
	border-radius: 3px;
}



</style>

<div id="largeSelectPlay" ng-controller="QuestController" ng-init="model='Quest';list();difficulty='Drag-n-Drop';">


         <div class="container" >
			<h4 class="well well-small" align="center">#1. Pick a Story!</h4>
		 </div>
		 <div>&nbsp;</div>
		 
  
<div ng-controller="StoryController" ng-init="list();$parent.storyID=14611860;">
<div id="myCarousel" class="carousel slide" >
    <div class="carousel-inner" style="position:relative;left:0px" class="ng-scope">

        <div class="item active">
                <!-- Three columns of text below the carousel -->
					<div class="container">
						<div class="row" >
							
								<div class="span4"  ng-repeat="story in stories | limitTo:3" ng-init="addQuestColor()">
									<label class="radio">
									<input type="radio" style="visibility:hidden" name="optionsRadios" ng-model="$parent.$parent.storyid" id="{{story.id}}" value="{{story.id}}">
									<input class="well"type="image" ng-src="img/story/{{story.name.split(' ').join('_')}}.jpg" alt="" id="pathImg"/>
									
									<br>
									<h4>{{story.name}}</h4>
									</label>
								</div>
							
						</div>
					</div>	
		</div>
        <div class="item">
                <!-- Three columns of text below the carousel -->
					<div class="container">
						<div class="row" >
							<div class="span4" ng-repeat="story in stories | startFrom:3 | limitTo:3" ng-init="addQuestColor()">
								<label class="radio">
						
								<input type="radio" style="visibility:hidden" name="optionsRadios" ng-click="addQuestColor()" ng-model="$parent.storyid" id="{{story.id}}" value="{{story.id}}">
								<input class="well" type="image" ng-src="img/story/{{story.name.split(' ').join('_')}}.jpg" alt="" id="pathImg">
								<br>
								<h4>{{story.name}}</h4S>
								</label>
							</div>
						</div>
					</div>	
		</div>
        <div class="item">
            <!-- Three columns of text below the carousel -->
			<div class="container">
				<div class="row">
					<div class="span4" ng-repeat="story in stories | startFrom:6 | limitTo:3" ng-click="addQuestColor()">
						<label class="radio">
						<input type="radio" style="visibility:hidden" name="optionsRadios"  ng-model="$parent.storyid" id="{{story.id}}" value="{{story.id}}">
						<input class="well" type="image" ng-src="img/story/{{story.name.split(' ').join('_')}}.jpg" alt="" id="pathImg">
						<br>
						<h4>{{story.name}}</h4>
						</label>
					</div>
				</div>
			</div>	
		</div> 
    </div> 
	<a class="left carousel-control" data-target="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class="right carousel-control" data-target="#myCarousel" data-slide="next">&rsaquo;</a>
</div>
</div>
<!-- /.carousel -->
<div class="container marketing" style="position:relative;left:13px">
    <!-- Three columns of text below the carousel -->
    <div class="row-fluid">
		<div class="span12">
            <div class="span4 lead well well-small" align="center">
				<div id="gradient1"><h4>#2. Select Difficulty</h4></div> 
				<hr>
				<div style="height:220px;" class="btn-group" data-toggle="buttons-radio" align="center" ng-init="levels = [{'name':'Drag-n-Drop', 'id':'Drag-n-Drop'},{'name':'Easy','id':'Easy'},{'name':'Medium', 'id':'Medium'},{'name':'Hard','id':'Hard'}]">					
					<span ng-repeat="item in levels">
						<label class="radio">
						<input style="visibility:hidden" type="radio" ng-model="$parent.difficulty" name="difficultyLevel" value="{{item.name}}"/ >
						<button type="button" class="btn btn-primary" style="height: 33px; width: 200px"  btn-radio="{{item.name}}">{{item.name}}
						</button></br></br>
						</label>
					</span>	
				</div>
            </div>
			    <!-- select path for non-drag n drop-game -->
			<div class="span4 lead well well-small" align="center" id="paths">
				<div><h4>#3. Select a Language</h4></div>	
				<hr>
				<div style="height:220px;overflow:auto" ng-controller="PathController" ng-init="list();$parent.pathID=10030;get_player_progress();">
					<div  ng-repeat="item in paths.paths" ng-init="pathSelection()" >
						<label>
							<input type="radio" style="visibility:hidden" ng-model="$parent.$parent.pathDes" name="is_private" value="{{item.name}}" id="path">
							<input class="well" type="image" ng-src="img/language/{{item.description.split(' ').join('_')}}.png" id="pathImg"/ >
							<h4>{{item.name}}</h4>
						</label>		
					</div>
				</div>				
			</div>
			<div class="span2 container" style="position:relative;left:60px" align = "center">
											
				<table align="center">
				<tr><td align="center">
				</br></br>
				
				<div  ng-show="!difficulty || !pathDes || !storyid">
				<!-- <form action="#storyboard"> -->
					<button class="btn disabled" style="width: 145px"><h1>Go!</h1></button>
				<!-- </form> -->
				</div>
				
				<div  ng-show="difficulty && pathDes && storyid">
				<!-- <form action="#storyboard"> -->
					<button class="btn btn-primary" ng-click="item.name='New Quest';create_quest(storyid,pathDes,difficulty)" style="width: 145px"><h1>Go!</h1></button>
				<!-- </form> -->
				
				</div>
				</td></tr>
				<tr><td>
				</br>
					<div align="center"><button class="btn btn-primary" onClick="window.location.href='http://www.singpath.com/'"><h5>Revert to Classic</h5></button></div>
				</td></tr>
				</table>
			</div>
        <!-- /.span4 -->
        <!-- /.row -->
    </div>
</div>
</div>

</div>

<div id="smallSelectPlay" ng-controller="QuestController" ng-init="model='Quest';list();difficulty='Easy';">

	         <div class="container" >
			<h4 class="well well-small" align="center">#1. Pick a Story!</h4>
		 </div>
		 <div>&nbsp;</div>
		 
  
<div ng-controller="StoryController" ng-init="list();$parent.storyID=14611860;">
<div id="myCarouselSmall" class="carousel slide" >
    <div class="carousel-inner" style="position:relative;left:0px" class="ng-scope">

        <div class="item active">
                <!-- Three columns of text below the carousel -->
					<div class="container">
						<div class="row" >
							
								<div class="span4"  ng-repeat="story in stories | limitTo:3">
									<label class="radio">
									<input type="radio" name="optionsRadios" ng-click="addQuestColor()" ng-model="$parent.$parent.storyid" id="{{story.id}}" value="{{story.id}}">
									<input class="well"type="image" ng-src="img/story/{{story.name.split(' ').join('_')}}.jpg" alt="" id="pathImgSmall"/>
									
									<br>
									<h4>{{story.name}}</h4>
									</label>
								</div>
							
						</div>
					</div>	
		</div>
        <div class="item">
                <!-- Three columns of text below the carousel -->
					<div class="container">
						<div class="row" >
							<div class="span4" ng-repeat="story in stories | startFrom:3 | limitTo:3">
								<label class="radio">
						
								<input type="radio" name="optionsRadios" ng-click="addQuestColor()" ng-model="$parent.storyid" id="{{story.id}}" value="{{story.id}}">
								<input class="well" type="image" ng-src="img/story/{{story.name.split(' ').join('_')}}.jpg" alt="" id="pathImgSmall">
								<br>
								<h4>{{story.name}}</h4S>
								</label>
							</div>
						</div>
					</div>	
		</div>
        <div class="item">
            <!-- Three columns of text below the carousel -->
			<div class="container">
				<div class="row">
					<div class="span4" ng-repeat="story in stories | startFrom:6 | limitTo:3">
						<label class="radio">
						<input type="radio" name="optionsRadios" ng-click="addQuestColor()" ng-model="$parent.storyid" id="{{story.id}}" value="{{story.id}}">
						<input class="well" type="image" ng-src="img/story/{{story.name.split(' ').join('_')}}.jpg" alt="" id="pathImgSmall">
						<br>
						<h4>{{story.name}}</h4>
						</label>
					</div>
				</div>
			</div>	
		</div> 
    </div> 
	<a class="left carousel-control" data-target="#myCarouselSmall" data-slide="prev">&lsaquo;</a>
    <a class="right carousel-control" data-target="#myCarouselSmall" data-slide="next">&rsaquo;</a>
</div>
</div>
<!-- /.carousel -->

<div class="container marketing" style="position:relative;left:13px">
		<!-- Three columns of text below the carousel -->
		<div class="row-fluid">
			<div class="span12">
				<div class="span4 lead well well-small" align="center">
					<div id="gradient1"><h4>#2. Select Difficulty</h4></div> 
					<hr>
					<div style="height:220px;" class="btn-group" data-toggle="buttons-radio" align="center" ng-init="levels = [{'name':'Drag-n-Drop', 'id':'Drag-n-Drop'},{'name':'Easy','id':'Easy'},{'name':'Medium', 'id':'Medium'},{'name':'Hard','id':'Hard'}]">					
						<span ng-repeat="item in levels">
							<label class="radio">
							<input style="visibility:hidden" type="radio" ng-model="$parent.difficulty" name="difficultyLevel" value="{{item.name}}"/ >
							<button type="button" class="btn btn-primary" style="height: 33px; width: 150px"  btn-radio="{{item.name}}">{{item.name}}
							</button></br></br>
							</label>
						</span>	
					</div>
				</div>
					<!-- select path for non-drag n drop-game -->
				<div class="span6 lead well well-small" align="center" ng-hide="difficulty=='Drag-n-Drop'" id="pathsSmall">
					<div><h4>#3. Select a Language</h4></div>	
					<hr>
					<div style="height:220px;overflow:auto" ng-controller="PathController" ng-init="list();$parent.pathID=10030;get_player_progress();">
						<div  ng-repeat="item in paths.paths"  >
							<label>
								<input type="radio" ng-click="addColor()"  ng-model="$parent.$parent.pathDes" name="is_private" value="{{item.id}}" id="path">
								<input class="well" type="image" ng-src="img/language/{{item.description.split(' ').join('_')}}.png" id="pathImgSmall"/ >
								<h4>{{item.name}}</h4>
							</label>		
						</div>
					</div>				
				</div>
					<!-- select path for drag n drop-game -->					
				<div class="span6 lead well well-small" align="center" ng-show="difficulty=='Drag-n-Drop'" id="pathsSmall">
					<div><h4>#3. Select a Language</h4></div>	
					<hr>
					<div style="height:220px;overflow:auto" ng-controller="PathController" ng-init="list();$parent.pathID=10030;get_player_progress();">
						<div  ng-repeat="item in mobile_paths">
							<label>
								<input type="radio" ng-click="addColor()" ng-model="$parent.$parent.pathDes" name="is_private" value="{{item.path_id}}" id="path">
								<input class="well" type="image" ng-src="img/language/{{item.description.split(' ').join('_')}}.png" id="pathImgSmall"/ >
								<h4>{{item.name}}</h4>
							</label>
						</div>
					</div>				
				</div>
				
				<div class="span2 container" align = "center">
												
					<table align="center">
					<tr><td align="center">
					</br></br>
					
					<div  ng-show="!difficulty || !pathDes || !storyid">
					<!-- <form action="#storyboard"> -->
						<button class="btn disabled" style="width: 100px"><h1>Go!</h1></button>
					<!-- </form> -->
					</div>
					
					<div  ng-show="difficulty && pathDes && storyid">
					<!-- <form action="#storyboard"> -->
						<button class="btn btn-primary" ng-click="item.name='New Quest';create_quest(storyid,pathDes,difficulty)" style="width: 100px"><h1>Go!</h1></button>
					<!-- </form> -->
					
					</div>
					</td></tr>
					<tr><td>
					</br>
						<div align="center"><button class="btn btn-primary" onClick="window.location.href='http://www.singpath.com/'"><h5>Revert to Classic</h5></button></div>
					</td></tr>
					</table>
				</div>
			<!-- /.span4 -->
			<!-- /.row -->
		</div>
	</div>
	</div>

</div>
